
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg">
    <header>
      <div class="hero">
        <h1>This is a Big Deal</h1>

        <p class="lead container-sm">Here's a lead-in paragraph to let you know what about to happen.</p>

        <div class="byline">
          <address>By
            <a rel="author" href="http://example.com/author">John Doe</a>
            and
            <a rel="author" href="http://example.com/author">Jane Doh</a>
          </address>
          <span class="spacer"></span>
          Star Tribune
          <span class="spacer-alt"></span>
          <time pubdate datetime="2017-07-30T16:00:00">July 30, 2017 &mdash; 4:00pm</time>
        </div>
      </div>
    </header>

    <main>
      <div class="filtering">
        <span>Find your school:</span>

        <select bind:value="school">
          <option value="all">All schools</option>

          {#each scoresBySchools as school}
            <option value="{ school.id }">{ school.name }</option>
          {/each}
        </select>
      </div>

      {#if selectedSchool}
        <div class="school">
          <div class="section-topper">School</div>
          <h2 class="has-section-topper has-sub-title">
            { selectedSchool.name }
          </h2>

          <h3 class="sub-title">{ selectedSchool.type }</h3>

          <p>For the { selectedSchool.years[0].year }-{ selectedSchool.years[0].year + 1 } school year, there were <strong>{ formatNumber(selectedSchool.years[0].enrollment) } students</strong> enrolled, { formatNumber(round(selectedSchool.years[0].pctMinority * 100)) }%  which were minorities and { formatNumber(round(selectedSchool.years[0].pctPoverty * 100)) }% get free or reduced lunch.</p>

          <div class="row">
            <div class="col col-100 col-md-50">
              <h3 class="has-sub-title">Math</h3>
              <div class="sub-title">{ currentYear }-{ currentYear + 1 } school year</div>

              {#if keyBy(selectedSchool.years[0].subjects, 'subject').m}
                <ul class="data-points">
                  <li>
                    <span class="data-point">
                      { categoryNames[keyBy(selectedSchool.years[0].subjects, 'subject').m.oddsCategory] }
                    </span>
                  </li>

                  <li>
                    Predicted proficient: { round(keyBy(selectedSchool.years[0].subjects, 'subject').m.predictedPro * 100) }%
                  </li>

                  <li>
                    Actual proficient:
                    { round(keyBy(selectedSchool.years[0].subjects, 'subject').m.percentPro * 100) }%
                  </li>
                </ul>

                <LineChart
                  title="Math proficiency over the years for { selectedSchool.name }"
                  data="{ schoolSubjectData(selectedSchool.years, 'm', 'percentPro', 100) }"
                  xProp="year"
                  yProp="percentPro"
                  xLabel="School year"
                  yLabel="Percent proficient in Math"
                  yMin="0"
                  yMax="100"
                  xMin="2012"
                  xMax="2017"
                  colors="{ ['#857aaa'] }"
                />
              {:else}
                <em>No math data</em>
              {/if}
            </div>

            <div class="col col-100 col-md-50">
              <h3 class="has-sub-title">Reading</h3>
              <div class="sub-title">{ currentYear }-{ currentYear + 1 } school year</div>

              {#if keyBy(selectedSchool.years[0].subjects, 'subject').r}
                <ul class="data-points">
                  <li>
                    <span class="data-point">
                      { categoryNames[keyBy(selectedSchool.years[0].subjects, 'subject').r.oddsCategory] }
                    </span>
                  </li>

                  <li>
                    Predicted proficient: { round(keyBy(selectedSchool.years[0].subjects, 'subject').r.predictedPro * 100) }%
                  </li>

                  <li>
                    Actual proficient:
                    { round(keyBy(selectedSchool.years[0].subjects, 'subject').r.percentPro * 100) }%
                  </li>
                </ul>

                <LineChart
                  title="Reading proficiency over the years for { selectedSchool.name }"
                  data="{ schoolSubjectData(selectedSchool.years, 'r', 'percentPro', 100) }"
                  xProp="year"
                  yProp="percentPro"
                  xLabel="School year"
                  yLabel="Percent proficient in Reading"
                  yMin="0"
                  yMax="100"
                  xMin="2012"
                  xMax="2017"
                  colors="{['#5bbf48']}"
                />
              {:else}
                <em>No reading data</em>
              {/if}

            </div>
          </div>
        </div>
      {/if}
    </main>

    <footer class="article-footer">
      <h1>Credits</h1>

      <ul class="credits">
        <li>Edited by John DoeEditor</li>
        <li>Data analysis by Jane DoeData</li>
        <li>Design and development by Jem DoeDesign</li>
      </ul>

      <h1>Methodology</h1>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    </footer>
  </section>
</div>

<script>
  // Dependencies
  import {
    filter,
    find,
    flatten,
    sortBy,
    groupBy,
    mapValues,
    map,
    sum
  } from "lodash";
  import LineChart from "./_line-chart.svelte.html";

  // Svelte object
  export default {
    components: {
      LineChart
    },

    computed: {
      // Get selected school
      selectedSchool: ({ scoresBySchools, school }) => {
        return find(scoresBySchools, { id: school });
      },

      // Category breakdown for selected schools
      oddsCategoryBreakdown: ({ scoresBySchools, currentYear }) => {
        let breakdown = {};

        scoresBySchools.forEach(s => {
          if (s.years && find(s.years, { year: currentYear })) {
            find(s.years, { year: currentYear }).subjects.forEach(subject => {
              breakdown[subject.subject] = breakdown[subject.subject] || {};
              breakdown[subject.subject][subject.oddsCategory] =
                breakdown[subject.subject][subject.oddsCategory] || 0;
              breakdown[subject.subject][subject.oddsCategory]++;
            });
          }
        });

        breakdown = mapValues(breakdown, categories => {
          categories.total = sum(map(categories));
          return categories;
        });

        return breakdown;
      }
    },

    // Small helper functions
    helpers: {
      formatNumber(input) {
        try {
          return input.toLocaleString();
        } catch (e) {
          return input;
        }
      },

      percent(v, total, decimals = 1) {
        if (!total || !v) {
          return 0;
        }

        return (
          Math.round((v / total) * 100 * Math.pow(10, decimals)) /
          Math.pow(10, decimals)
        );
      },

      round(input, decimals = 1) {
        return (
          Math.round(input * Math.pow(10, decimals)) / Math.pow(10, decimals)
        );
      },

      keyBy(input, key = "id") {
        if (!input.length) {
          return {};
        }

        let keyed = {};

        input.forEach(i => {
          keyed[i[key]] = i;
        });

        return keyed;
      },

      // Make specific set of school subject data
      schoolSubjectData(years, subject, property = "percentPro", multiplier) {
        if (!years || !years.length) {
          return [];
        }

        return years.map(y => {
          let v = find(y.subjects, { subject })[property];
          return {
            year: y.year,
            [property]: multiplier ? v * multiplier : v
          };
        });
      }
    },

    data() {
      return {
        district: "all",
        school: "all",
        currentYear: 2017,
        categoryNames: {
          ["1"]: "Falling behind",
          ["2"]: "As expected",
          ["3"]: "Beating the odds"
        },
        locationNames: {
          "out-state": "Out state",
          "core-cities": "Twin cities",
          suburbs: "Suburbs"
        }
      };
    }
  };
</script>



