
<div class="strib-styles ssa ssb ssc">
  <section>
    <header class="container-lg">
      <div class="hero">
        <h1>Beating the Odds</h1>

        <p class="lead container-md">A Star Tribune analysis of standardized test scores to determine which schools are doing better than expected.</p>

        <div class="byline">
          <address>By
            <a rel="author" href="http://www.startribune.com/maryjo-webster/303594441/" class="text-nowrap">MaryJo Webster</a>
            and
            <a rel="author" href="http://www.startribune.com/alan-palazzolo/440928273/" class="text-nowrap">Alan Palazzolo</a>
          </address>

          <span class="spacer"></span>
          <span class="text-nowrap">Star Tribune</span>
          <span class="spacer-alt"></span>
          <time pubdate datetime="2018-09-13T00:00:00">September 13, 2018 &mdash; 12:00am</time>
        </div>

        <div class="share-placeholder">
          <!-- share -->
        </div>
      </div>
    </header>

    <main>
      <div class="intro">
        <div class="intro-text container-md">
          <p>There is a <a href="https://eric.ed.gov/?id=ED544709" target="_blank" rel="noopener">long-standing and well-documented connection</a> between a school's poverty rate and achievement on standardized tests. As these charts show, schools with lower poverty rates tend to have higher scores. As a result, schools serving large numbers of poor have a different perspective on what achievement looks like.</p>

          <p>To level this playing field, the Star Tribune uses a statistical analysis called linear regression to compare each school's proficiency rates in math and reading to what it was expected to achieve based on its poverty level.</p>

          <p>In the charts, the lines represent the predicted proficiency rate. The schools &mdash; represented by dots &mdash; that are within 10 percentage points of that line are considered to be doing about as expected, while those farther below the line are falling short of expectations. Along the top, though, is where you'll find the schools that are beating the odds.</p>
        </div>

        <div class="intro-charts container-xl">
          <div class="row">
            <div class="col col-100 col-md-50">
              <ScatterPlot
                dataConfig="{{
                  columns: [
                    ['Beating the odds'].concat(
                      schoolsPovertyScatter(scoresBySchools, 'm', null, currentYear, ['3']).map(d => d.percentPro)
                    ),
                    ['Beating the odds X'].concat(
                      schoolsPovertyScatter(scoresBySchools, 'm', null, currentYear, ['3']).map(d => d.pctPoverty)
                    ),
                    ['As expected or falling behind'].concat(
                      schoolsPovertyScatter(scoresBySchools, 'm', null, currentYear, ['1', '2']).map(d => d.percentPro)
                    ),
                    ['As expected or falling behind X'].concat(
                      schoolsPovertyScatter(scoresBySchools, 'm', null, currentYear, ['1', '2']).map(d => d.pctPoverty)
                    ),
                    ['Predicted X', 0, 100],
                    ['Predicted', regressionMath(0), regressionMath(100)]
                  ],
                  type: "scatter",
                  types: {
                    Predicted: "line"
                  },
                  xs: {
                    'Beating the odds': 'Beating the odds X',
                    'As expected or falling behind': 'As expected or falling behind X',
                    Predicted: 'Predicted X'
                  },
                  colors: {
                    'Beating the odds': colorMathBetter,
                    'As expected or falling behind': colorMath,
                    Predicted: colorPredicted
                  }
                }}"
                addAnnotation="{ true }"
                xMin="{ 0 }"
                xMax="{ 100 }"
                yMin="{ 0 }"
                yMax="{ 100 }"
                xLabel="Percent of students who receive free or reduced-price lunch"
                yLabel="Percent of students found proficient in Math"
                title="Math" />
            </div>

            <div class="col col-100 col-md-50">
              <ScatterPlot
                dataConfig="{{
                  columns: [
                    ['Beating the odds'].concat(
                      schoolsPovertyScatter(scoresBySchools, 'r', null, currentYear, ['3']).map(d => d.percentPro)
                    ),
                    ['Beating the odds X'].concat(
                      schoolsPovertyScatter(scoresBySchools, 'r', null, currentYear, ['3']).map(d => d.pctPoverty)
                    ),
                    ['As expected or falling behind'].concat(
                      schoolsPovertyScatter(scoresBySchools, 'r', null, currentYear, ['1', '2']).map(d => d.percentPro)
                    ),
                    ['As expected or falling behind X'].concat(
                      schoolsPovertyScatter(scoresBySchools, 'r', null, currentYear, ['1', '2']).map(d => d.pctPoverty)
                    ),
                    ['Predicted X', 0, 100],
                    ['Predicted', regressionReading(0), regressionReading(100)]
                  ],
                  type: "scatter",
                  types: {
                    Predicted: "line"
                  },
                  xs: {
                    'Beating the odds': 'Beating the odds X',
                    'As expected or falling behind': 'As expected or falling behind X',
                    Predicted: 'Predicted X'
                  },
                  colors: {
                    'Beating the odds': colorReadingBetter,
                    'As expected or falling behind': colorReading,
                    Predicted: colorPredicted
                  }
                }}"
                xMin="{ 0 }"
                xMax="{ 100 }"
                yMin="{ 0 }"
                yMax="{ 100 }"
                xLabel="Percent of students who receive free or reduced-price lunch"
                yLabel="Percent of students found proficient in Reading"
                title="Reading" />
            </div>
          </div>
        </div>
      </div>

      <div class="school-search container-lg">
        <div class="container-md text-center">
          <p>Use the search tool below to find out whether your school is beating the odds.  Either select from the list or start typing a school name.</p>
        </div>

        <div class="filtering">
          <div class="label-group">
            <label for="school-select">Find your school:</label>
          </div>

          <div class="select-group">
            <select id="school-select" bind:value="school" placeholder="Select school" ref:schoolSelect>
              <option value="">Select school</option>

              {#each scoresBySchools as school}
                <option value="{ school.id }">{ schoolDistrictName(school, scoresBySchools, districts) }</option>
              {/each}
            </select>
          </div>
        </div>

        {#if selectedSchool}
          <div class="school">
            <div class="container-md school-chatter">
              <h2 class="text-center">
                { selectedSchool.name }
              </h2>

              <p>
                This <strong>{ selectedSchool.type.replace(/^(.*)\(/i, (m, p1) => `${p1.toLowerCase()} (`) }</strong> school
                {#if selectedDistrict.schools <= 1}
                  is the only school in the { selectedDistrict.name } district.
                {:else}
                  is 1 of { selectedDistrict.schools } schools in the the { selectedDistrict.name } district which saw { round(selectedDistrict.modeled['3'].m / selectedDistrict.schools * 100, 0) }% beat the odds in math and { round(selectedDistrict.modeled['3'].r / selectedDistrict.schools * 100, 0) }% beat the odds in reading.
                {/if}
              </p>

              <p>
                For the { selectedSchool.years[0].year }-{ selectedSchool.years[0].year + 1 } school year, there were <strong>{ formatNumber(selectedSchool.years[0].enrollment) } students</strong> enrolled in this school,
                <!-- { formatNumber(round(selectedSchool.years[0].pctMinority * 100, 0)) }% counted as minorities and  -->
                and { formatNumber(round(selectedSchool.years[0].pctPoverty * 100, 0)) }% students received free or reduced-price lunch.
              </p>

              {#if !selectedCurrentSubjects || !selectedCurrentSubjects.m || !selectedCurrentSubjects.m.predictedPro}
                <p>
                  <em>This school was not included in our predictive model this year because it did not test enough students.  Their historical test scores are still included below.</em>
                </p>
              {/if}
            </div>

            <div class="row">
              <div class="col col-100 col-md-50">
                <h3>Math</h3>

                {#if selectedCurrentSubjects && selectedCurrentSubjects.m && selectedCurrentSubjects.m.predictedPro}
                  <h4>{ selectedCurrentSubjects.year }-{ selectedCurrentSubjects.year + 1 } school year</h4>

                  <p>
                    Overall, student proficiency at this school
                    <strong class="highlight">
                      { categoryNarratives[selectedCurrentSubjects.m.oddsCategory] }
                    </strong>
                    for the year; given our model they were predicted to have a proficiency rate of
                    { round(selectedCurrentSubjects.m.predictedPro * 100, 0) }%
                    but actually had a rate of
                    { round(selectedCurrentSubjects.m.percentPro * 100, 0) }%.
                  </p>
                {/if}

                <h4>All years</h4>

                <LineChart
                  title="Math proficiency over the years for { selectedSchool.name }"
                  dataConfig="{{
                    xs: {
                      Actual: 'School year',
                      Predicted: 'School year'
                    },
                    columns: [
                      ['School year'].concat(schoolSubjectData(selectedSchool.years, 'm', 'percentPro', 100).map(d => d.year)),
                      ['Actual'].concat(schoolSubjectData(selectedSchool.years, 'm', 'percentPro', 100).map(d => d.percentPro)),
                      ['Predicted'].concat(schoolSubjectData(selectedSchool.years, 'm', 'predictedPro', 100).map(d => d.predictedPro))
                    ]
                  }}"
                  xLabel="School year"
                  yLabel="Percent proficient in Math"
                  yMin="0"
                  yMax="100"
                  xMin="2012"
                  xMax="2017"
                  colors="{ [colorMath, colorPredicted] }"
                />
              </div>

              <div class="col col-100 col-md-50">
                <h3>Reading</h3>

                {#if selectedCurrentSubjects && selectedCurrentSubjects.r && selectedCurrentSubjects.r.predictedPro}
                  <h4>{ selectedCurrentSubjects.year }-{ selectedCurrentSubjects.year + 1 } school year</h4>

                  <p>
                    Overall, student proficiency at this school
                    <strong class="highlight">
                      { categoryNarratives[selectedCurrentSubjects.r.oddsCategory] }
                    </strong>
                    for the year; given our model they were predicted to have a proficiency passing rate of
                    { round(selectedCurrentSubjects.r.predictedPro * 100, 0) }%
                    but actually had a rate of
                    { round(selectedCurrentSubjects.r.percentPro * 100, 0) }%.
                  </p>
                {/if}

                <h4>All years</h4>

                <LineChart
                  title="Reading proficiency over the years for { selectedSchool.name }"
                  dataConfig="{{
                    xs: {
                      Actual: 'School year',
                      Predicted: 'School year'
                    },
                    columns: [
                      ['School year'].concat(schoolSubjectData(selectedSchool.years, 'r', 'percentPro', 100).map(d => d.year)),
                      ['Actual'].concat(schoolSubjectData(selectedSchool.years, 'r', 'percentPro', 100).map(d => d.percentPro)),
                      ['Predicted'].concat(schoolSubjectData(selectedSchool.years, 'r', 'predictedPro', 100).map(d => d.predictedPro))
                    ]
                  }}"
                  xLabel="School year"
                  yLabel="Percent proficient in Reading"
                  yMin="0"
                  yMax="100"
                  xMin="2012"
                  xMax="2017"
                  colors="{[colorReading, colorPredicted]}"
                />
              </div>
            </div>
          </div>
        {:else}
          <div class="no-selected-school">
            Search or select a school to see how it has performed over the years.
          </div>
        {/if}
      </div>
    </main>

    <footer class="article-footer container-lg">
      <h1>Credits</h1>

      <ul class="credits">
        <li>Data analysis by MaryJo Webster</li>
        <li>Design and development by Alan Palazzolo</li>
        <li>Previous version by Jeff Hargarten</li>
      </ul>

      <h1>Methodology</h1>

      <p>The Star Tribune used a linear regression analysis to compare each school's proficiency rate to an expected proficiency rate based on the school's percentage of students on free or reduced-price lunch (a common proxy for estimating a school's poverty rate). Only schools that tested at least 25 students, across all grades, were included in the analysis; alternative learning and special education schools were not included. Schools were identified as "falling short" if the actual proficiency rate was 10 percentage points or more lower than the expected rate. Schools were classified as "better than expected" if their rate was 10 percentage points or more greater than the expected rate. All schools between those marks were categorized "as expected."</p>
    </footer>
  </section>
</div>

<script>
  // Dependencies
  import {
    filter,
    find,
    flatten,
    sortBy,
    groupBy,
    mapValues,
    map,
    sum
  } from "lodash";
  import LineChart from "./_line-chart.svelte.html";
  import ScatterPlot from "./_scatter-plot.svelte.html";
  /* global $ */

  // Svelte object
  export default {
    components: {
      LineChart,
      ScatterPlot
    },

    oncreate() {
      // Selectize
      if ($ && $.fn.selectize) {
        $(this.refs.schoolSelect).selectize({
          create: false,
          maxOptions: 1800,
          maxItems: 1,
          closeAfterSelect: true,
          onChange: value => {
            this.set({ school: value });
          }
        });
      }
    },

    computed: {
      // Get selected school
      selectedSchool: ({ scoresBySchools, school }) => {
        return find(scoresBySchools, { id: school });
      },

      // Selected current year subjects
      selectedCurrentSubjects: ({ selectedSchool, currentYear }) => {
        if (!selectedSchool || !currentYear) {
          return;
        }

        // Look for current year
        let current = find(selectedSchool.years, { year: currentYear });
        if (current) {
          current.subjects.forEach(s => {
            current[s.subject] = s;
          });

          return current;
        }
      },

      // Get selected district
      selectedDistrict: ({ selectedSchool, districts }) => {
        return selectedSchool
          ? find(districts, { id: selectedSchool.district })
          : undefined;
      },

      // Category breakdown for selected schools
      oddsCategoryBreakdown: ({ scoresBySchools, currentYear }) => {
        let breakdown = {};

        scoresBySchools.forEach(s => {
          if (s.years && find(s.years, { year: currentYear })) {
            find(s.years, { year: currentYear }).subjects.forEach(subject => {
              breakdown[subject.subject] = breakdown[subject.subject] || {};
              breakdown[subject.subject][subject.oddsCategory] =
                breakdown[subject.subject][subject.oddsCategory] || 0;
              breakdown[subject.subject][subject.oddsCategory]++;
            });
          }
        });

        breakdown = mapValues(breakdown, categories => {
          categories.total = sum(map(categories));
          return categories;
        });

        return breakdown;
      }
    },

    // Small helper functions
    helpers: {
      formatNumber(input) {
        try {
          return input.toLocaleString();
        } catch (e) {
          return input;
        }
      },

      percent(v, total, decimals = 1) {
        if (!total || !v) {
          return 0;
        }

        return (
          Math.round((v / total) * 100 * Math.pow(10, decimals)) /
          Math.pow(10, decimals)
        );
      },

      round(input, decimals = 1) {
        return (
          Math.round(input * Math.pow(10, decimals)) / Math.pow(10, decimals)
        );
      },

      keyBy(input, key = "id") {
        if (!input.length) {
          return {};
        }

        let keyed = {};

        input.forEach(i => {
          keyed[i[key]] = i;
        });

        return keyed;
      },

      // Make specific set of school subject data
      schoolSubjectData(years, subject, property = "percentPro", multiplier) {
        if (!years || !years.length) {
          return [];
        }

        return years.map(y => {
          let v = find(y.subjects, { subject })[property];
          return {
            year: y.year,
            [property]: multiplier ? v * multiplier : v
          };
        });
      },

      // Combine school and district name
      schoolDistrictName(school, schools, districts) {
        if (!school || !schools || !districts) {
          return;
        }

        let dup = find(schools, s => {
          return s.name === school.name && s.id !== school.id;
        });
        let district = find(districts, { id: school.district });
        return dup ? `${school.name} (${district.name})` : school.name;
      },

      // Make scatter data for poverty for a subject
      schoolsPovertyScatter(schools, subject, year, currentYear, categories) {
        year = year || currentYear;

        return filter(
          map(schools, s => {
            let y = find(s.years, { year });
            let sub = y ? find(y.subjects, { subject }) : null;
            // Test if in categories, if needed
            sub =
              sub &&
              (!categories ||
                (categories && ~categories.indexOf(sub.oddsCategory)))
                ? sub
                : null;
            return sub
              ? {
                  pctPoverty: y.pctPoverty * 100,
                  percentPro: sub.percentPro * 100
                }
              : null;
          })
        );
      }
    },

    data() {
      return {
        school: "all",
        currentYear: 2017,
        categoryNames: {
          ["1"]: "Falling behind",
          ["2"]: "As expected",
          ["3"]: "Beating the odds"
        },
        categoryNarratives: {
          ["1"]: "fell short",
          ["2"]: "met expectations",
          ["3"]: "beat the odds"
        },
        locationNames: {
          "out-state": "Out state",
          "core-cities": "Twin cities",
          suburbs: "Suburbs"
        },
        colorReading: "#ffa31a",
        colorReadingBetter: "#9d5d00",
        colorMath: "#7abdff",
        colorMathBetter: "#1d78af",
        colorPredicted: "#898989",
        regressionMath: x => x * -0.5278627 + 0.795409 * 100,
        regressionReading: x => x * -0.5589525 + 0.8037092 * 100
      };
    }
  };
</script>



