<figure class="scatter-plot">
  <figcaption class="">
    { title }
  </figcaption>

  <div class="chart-container" ref:chartContainer>
    <div class="chart-loading">Loading chart...</div>
  </div>
</figure>

<script>
  import { isNaN, filter } from "lodash";

  /* global d3, c3 */
  export default {
    oncreate() {
      this.drawChart();
    },

    onupdate({ changed, current, previous }) {
      if (changed.data) {
        this.drawChart();
      }
    },

    ondestroy() {
      if (this.get().chart) {
        this.set({ chart: this.get().chart.destroy() });
      }
    },

    methods: {
      drawChart() {
        let chart = this.get().chart;

        if (chart) {
          // Update
          //chart.unload();
          chart.load({
            columns: this.get().dataConfig ? this.get().dataConfig.columns : []
          });

          return;
        }

        chart = c3.generate({
          bindto: this.refs.chartContainer,
          padding: {
            right: 10,
            bottom: 15
          },
          data: this.get().dataConfig ? this.get().dataConfig : {},
          point: {
            show: false,
            focus: {
              expand: {
                enabled: true
              }
            }
          },
          axis: {
            x: {
              type: "indexed",
              height: 45,
              min: this.parseNumber(this.get().xMin),
              max: this.parseNumber(this.get().xMax),
              label: {
                text: this.get().xLabel,
                position: "outer-center"
              },
              tick: {
                outer: false,
                fit: false,
                culling: {
                  max: 8
                }
              },
              padding: {
                left: 0,
                right: 0
              }
            },
            y: {
              min: this.parseNumber(this.get().yMin),
              max: this.parseNumber(this.get().yMax),
              padding: 0,
              label: {
                text: this.get().yLabel,
                position: "outer-middle"
              },
              tick: {
                outer: false,
                culling: {
                  max: 8
                }
              }
            }
          },
          grid: {
            x: {
              show: true
            },
            y: {
              show: true
            }
          },
          legend: {
            position: "top"
          },
          tooltip: {
            show: false
          },
          interaction: {
            enabled: false
          },
          onrendered: () => {
            this.drawAnnotation();
          }
        });

        window.__chart = chart;

        this.set({ chart });
      },

      drawAnnotation() {
        if (!this.get().addAnnotation || !this.get().chart) {
          return;
        }
        let chart = this.get().chart;

        // remove annotation if there.
        if (this.get().annotation) {
          d3.select(this.refs.chartContainer)
            .select(".annotation-group")
            .remove();
        }

        // Create new annotation
        let annotation = d3
          .select(this.refs.chartContainer)
          .select("svg .c3-chart-lines")
          .append("g")
          .attr("class", "annotation-group")
          .call(
            d3
              .annotation()
              .type(d3.annotationCallout)
              .annotations([
                {
                  note: {
                    label: "These schools are beating the odds",
                    bgPadding: 20
                  },
                  className: "annotation",
                  x: chart.internal.x(55),
                  y: chart.internal.y(75),
                  dx: chart.internal.x(14),
                  dy: -1 * (chart.internal.y(0) - chart.internal.y(6))
                }
              ])
          );
        this.set({ annotation });
      },

      parseNumber(input) {
        if (isNaN(parseFloat(input))) {
          return undefined;
        }

        return parseFloat(input);
      }
    },

    computed: {
      xData({ data, xLabel, xProp }) {
        return [xLabel].concat(data.map(d => d[xProp]));
      },
      yData({ data, yLabel, yProp }) {
        return [yLabel].concat(data.map(d => d[yProp]));
      },
      regressionDataY({ xMin, xMax, regression }) {
        if (
          regression === undefined ||
          xMin === undefined ||
          xMax === undefined
        ) {
          return;
        }

        return ["regressiony", regression(xMin), regression(xMax)];
      },
      regressionDataX({ xMin, xMax, regression }) {
        if (
          regression === undefined ||
          xMin === undefined ||
          xMax === undefined
        ) {
          return;
        }

        return ["regressionx", xMin, xMax];
      }
    },

    data() {
      return {
        data: [
          { x: 1, y: 2 },
          { x: 2, y: 8 },
          { x: 3, y: 2 },
          { x: 4, y: 3 },
          { x: 5, y: 2.8 },
          { x: 6, y: 7.008 },
          { x: 7, y: 1 },
          { x: 8, y: 9 }
        ],
        xProp: "x",
        yProp: "y",
        xLabel: "XXXXXX",
        yLabel: "YYYYYY"
      };
    }
  };
</script>
