.line-chart {
  svg text {
    @include font-styles("benton-sans");

    stroke: #232323;
    color: #232323;
    fill: #232323;
  }

  .c3-chart-line .c3-line {
    stroke-width: 4;
  }

  .c3-chart-line .c3-shapes circle {
    r: 5;
  }

  .tick line {
    display: none;
  }
}
