/**
 * Project specific styling.
 */

.hero {
  h1 {
    font-size: 5em;
  }

  .lead {
    line-height: 1.1em;
    font-size: 1.85em;
    margin-bottom: 1.5em;

    @include media-breakpoint-up("md") {
      line-height: 1.25em;
      font-size: 2em;
      margin-bottom: 1em;
    }
  }
}

footer {
  margin-bottom: 4em;
}

.highlight {
  white-space: nowrap;
  background-color: map-get($grays, "lighter");
}

.text-nowrap {
  white-space: nowrap;
}

.intro {
  margin-bottom: 4em;

  .intro-text {
    margin-bottom: 2em;
  }

  .intro-charts {
  }
}

.chart-loading {
  font-size: 0.85em;
  padding: 3em 1em;
  text-align: center;
  font-style: italic;
}

// This style seems to already have lots of meaning on the site.
.single {
  min-height: 0;
  vertical-align: baseline;
  border: none;
  width: auto;
}

.filtering {
  padding: 1em;
  margin-bottom: 2em;
  background-color: map-get($grays, "lighter");
  text-align: center;
  display: flex;

  .label-group {
    display: none;

    @include media-breakpoint-up("sm") {
      display: block;
    }
  }

  label {
    display: block;
    padding: 0.75em 1em 0 0;
  }

  select {
    vertical-align: baseline;
  }

  .select-group {
    display: inline-block;
    vertical-align: middle;
    flex: 2;
  }

  .selectize-control {
    @include font-styles("benton-sans");

    font-size: 1em;
    text-align: left;
    position: relative;
    display: inline-block;
    //vertical-align: middle;
    width: 100%;
  }

  .selectize-input {
    font-size: 1.15em;
    width: 100%;
    padding: 0.35em 0.75em;
    //vertical-align: middle;

    input[type="select-one"] {
      width: 100%;
      margin: 0;
      font-size: 1em;
      padding: 0.15em 0.5em !important;
    }

    .item {
      background-color: map-get($grays, "lightest");
      padding: 0.15em 0.5em;
    }
  }

  .selectize-dropdown-content {
    max-height: 25em;
  }

  .selectize-dropdown {
    position: absolute;

    .option {
      font-size: 1.15em;
      padding: 0.35em 0.75em;

      // For some reason multiple things get selected
      &.selected {
        //background-color: map-get($grays, "lighter");
        background-color: transparent;
      }

      &.active {
        background-color: map-get($grays, "lightest");
      }

      &:hover {
        cursor: pointer;
        background-color: map-get($grays, "lightest");
      }
    }

    .highlight {
      padding: 0.25em 0.1em;
    }
  }
}

.data-points {
  margin: 0 0 1em;
  padding: 0;

  li {
    font-size: 1.25em;
  }

  .data-point {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
  }
}

.school {
  margin-bottom: 2em;

  h3 {
    padding-top: 1.5em;
    margin-bottom: 0.1em;
  }

  .line-chart {
    padding-right: 1.5em;
  }

  .school-chatter {
    padding: 0;
  }
}

.no-selected-school {
  font-style: italic;
  padding: 5em 1em 7em;
  color: map-get($grays, "light");
  text-align: center;
}
