.scatter-plot {
  figcaption {
    @extend .label;

    display: block;
    margin-bottom: 1em;
    text-align: center;
    color: $color-text;
  }

  svg text {
    @include font-styles("benton-sans");

    stroke: #232323;
    color: #232323;
    fill: #232323;
  }

  .c3-chart-line .c3-line {
    stroke-width: 4;
  }

  .tick line {
    display: none;
  }

  .chart-container {
    height: 25em;
  }
}
