.scatter-plot {
  figcaption {
    @extend .label;

    display: block;
    margin-bottom: 1em;
    text-align: center;
    color: $color-text;
  }

  svg text {
    @include font-styles("benton-sans");

    stroke: #232323;
    color: #232323;
    fill: #232323;
  }

  .annotation-note-label {
    letter-spacing: 0.9px;
  }

  .c3-axis-x-label,
  .c3-axis-y-label {
    stroke: map-get($grays, "medium");
  }

  .c3-circle {
    opacity: 0.9 !important;
  }

  .c3-chart-line .c3-line {
    stroke-width: 4;
  }

  .tick line {
    display: none;
  }

  .chart-container {
    height: 25em;
  }
}
